header {
    background-color: var(--dark);
    top: 0;
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 8dvh 92dvh;
    width: 100dvw;
    min-height: 8dvh;
    height: 8dvh;
    box-shadow: 0px 10px 20px 8px rgba(0,0,0,0.25), 0px 3px 14px 4px rgba(0,0,0,0.15);
}

a:has(> img#logo) {
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
    z-index: 2;
    
    & #logo {
        cursor: pointer;
        height: 100%;
        width: auto;
        padding: 1%;
        cursor: pointer;
    }
}    

.settings-container, #burger {
    display: none;
}    
    
.toggle {
    justify-self: end;
    width: 8dvh;
    height: 100%;
    cursor: pointer;
    display: flex;
    margin-right: 3vw;
    flex-direction: column;
    justify-content: center;
    transition-duration: .3s;
}

.bars {
    width: 100%;
    height: 15%;
    background-color: var(--light);
    border-radius: 10px;
    transition-duration: .3s;
}

#bar1, #bar2 {
    margin-bottom: 10%;
}

#burger:checked+.toggle #bar2 {
    transform: translateX(-0.5px) translateY(13px) rotate(60deg);
    margin-left: 0;
    transform-origin: right;
    transition-duration: .3s;
    z-index: 2;
}

#burger:checked+.toggle #bar1 {
    transform: translateX(0.5px) translateY(25px) rotate(-60deg);
    transition-duration: .3s;
    transform-origin: left;
    z-index: 1;
}

#burger:checked+.toggle .bars {
    border-radius: 25px;
    background-color: var(--light);
    transition-duration: .3s;
}

#burger:checked ~ .menu-context {
    height: 92dvh;
}

.menu-context {
    grid-area: 2 / 1 / 3 / 3;
    justify-content: center;
    align-items: flex-start;
    width: 100dvw; 
    height: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4em;
    background-color: var(--dark);
    transition: height .3s ease-in-out;
    
    & ul {
        grid-area: 1 / 2 / 2 / 3;
        margin: 2rem 0 0 0;
        
        & li {
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            list-style: none;
            height: fit-content;
            width: 100%;
            height: 100%;
            /* margin: 0 1rem; */
            
            & a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: var(--light);
                height: 100%;
                width: 100%;
                font-size: 2rem;
                cursor: pointer;
            }
        }
    }

    & .mobile-switch {
        grid-area: 2 / 3 / 3 / 4;
        align-self: flex-end;
        justify-self: flex-end;
        margin: 0 1.5rem 1.5rem 0;
        position: relative;        
        width: 3.5em;
        height: 2em;
    }    
}

.theme-toggle {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider { /* In light mode - switch to dark */
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1b1b1b; /* pillens baggrund */
    transition: .2s;
    border-radius: 30px;
    border: #3f3c3c solid 2px; /* månens kant */
    
    &:before { /* In light mode - switch to dark */
        position: absolute;
        content: "";
        height: 1.3em;
        width: 1.3em;
        border-radius: 50%;
        left: 10%;
        bottom: 15%;
        box-shadow: inset 8px -4px 0px 0px #A34B14; /* månen */
        background: #1b1b1b; /* månens baggrund - skal væred det samme som pillen */
        transition: .2s;
    }
}

.theme-toggle:checked + .slider { /* In dark mode - switch to light */
    background-color: #4ebbff; /* pillens baggrund in dark mode */
    border: #FFF4E4 solid 2px; /* månens kant */
}
  
.theme-toggle:checked + .slider:before {
    transform: translateX(100%);
    box-shadow: inset 15px -4px 0px 15px #d5c000; /* solen */
}

@media screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 8dvh;
        align-content: center;
        justify-content: center;
        width: 100dvw;
    }
    
    #logo {
        grid-area: 1 / 1 / 2 / 2;
        padding: 1%;
    }
    
    .toggle, .mobile-switch {
        display: none;
    }
    
    .menu-context {
        grid-area: 1 / 1 / 2 / 4;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        height: 100%;
        width: 100%;
        justify-content: center;
        
        & ul {
            grid-area: 1 / 2 / 1 / 3;
            margin: 0;
            display: flex;
            justify-content: center;
            height: 100%;
            
            & li {
                margin: 0 1rem;
                height: fit-content;
                
                & a { 
                    border-radius: 1rem;
                    font-size: calc(1rem + 1vh);
                    transition: background-color .3s, box-shadow .3s, color .3s, font-size .3s, font-weight .3s, height .3s;  
                    
                    &:hover {
                        background-color: var(--light);
                        box-shadow: 0px 12px 23px -4px rgba(0,0,0,0.47), 0px 0px 40px -4px rgba(0,0,0,0.31);
                        border-radius: 1rem;
                        color: var(--dark);
                        font-size: calc(1.2rem + 1vh);
                        font-weight: bold;
                        transition: background-color .3s, box-shadow .3s, color .3s, font-size .3s, font-weight .3s, height .3s;  
                    }
                }
            }
        }
    }

    .desktop-switch {
        display: none;
    }

    .settings-container {
        grid-area: 1 / 3 / 2 / 4;
        justify-self: end;
        display: grid;
        grid-template-columns: auto 8dvh;
        grid-template-rows: 8dvh auto;
        height: fit-content;
        overflow: hidden;
        
        & .settings-menu {
            width: 0;
            height: 0;
            transition: width .3s, height .3s;
        }
        
        & .settings-menu>ul, .settings-menu>ul>li {
            opacity: 0;
            transition: opacity .4s;
        }
        
        & #settings {
            display: flex;
            align-self: center;
            justify-self: end;
            grid-area: 1 / 2 / 2 / 3;
            height: 8dvh;
            padding: 2dvh;
            transition: transform .4s;

            &:hover, .settings-container:hover & {
                transform: rotate(90deg);
                transition: transform .6s;
            }
            
            &:hover + .settings-menu, &+.settings-menu:hover {
                grid-area: 2 / 1 / 3 / 3;
                width: 100%;
                height: 100%;
                justify-self: end;
                justify-content: right;
                background-color: var(--dark);
                border-radius: 0 0 0 0.5rem;
                transition: width .4s, height .5s;
                /* box-shadow: ; */

                & ul {
                    color: var(--light);
                    width: fit-content;
                    margin: 0 0 0 3dvh;
                    opacity: 1;
                    transition: opacity .8s;

                    & li {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        text-align: right;
                        align-items: flex-end;
                        justify-items: center;
                        cursor: pointer;
                        padding: 0.15rem 2dvh;
                        border-radius: 0.5rem 0 0 0.5rem;
                        opacity: 1;
                        transition: opacity .8s;
                        padding-bottom: 0.5rem;

                        &:hover {
                            background-color: var(--light);
                            color: var(--dark);
                        }
                        
                        &:has(>.desktop-switch) {
                            background-color: transparent;
                            padding-bottom: 1rem;
                        }
                        
                        & .desktop-switch {
                            position: relative;    
                            display: flex;  
                            width: 3.5em;
                            height: 2em;
                        }  
                    }
                }
            }
        }
    }
}