main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem 0rem 1.5rem;
    color: var(--text);

    & section {
        width: 100%;
        height: fit-content;
        margin: 1rem 0 0 0;
        padding: 1rem;
        background-color: var(--ground);
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
    }
}