@media only screen and (max-width: 600px) {
    body {
        max-width: 100dvw;
    }

    .name-container, #lightsOut, #bulb, #flashlight, #arrowContainer, .modal, iframe {
        display: none;
    }

    .title, .subtitle {
        max-width: 100dvw;
    }

    .project-card:hover .card-front {
        border-radius: 0;
    }

    .project-card .flip-card-inner {
        transform: rotateX(0deg);
    }
    
    .project-card .flip-card-back {
        max-height: 30rem;
        position: relative;
    }

    #dartContainer {
        flex-direction: column;
    }

    #dartboard {
        width: 90%;
    }

    #scoreboard {
        height: 60dvh;
    }

    .language-dropdown {
        right: 5rem;
    }
}