main {
    align-self: center;
    justify-self: center;
    display: flex;
    padding: 4rem;
    height: 100%;
    width: 100%;
    border: red 1px solid;
}

section {
    background-color: var(--ground);
    width: 100%;
    height: 100%;
}