[theme="dark"] {
  --background: #3E3636;
  --ground: #444444;
  --dark: #1B1B1B;
  --light: #A34B14;
  --white: #DBDBDB;
  --black: #000000;
  --text: #ff8000;
}

[theme="light"] {
  --background: #0A9DFF;
  --ground: #0065A3;
  --dark: #2B0099;
  --light: #EBF7FF;
  --white: #FFFFFF;
  --black: #121212;
  --text: #EBF7FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body {
    font-family: 'Poppins', sans-serif;
    color: var(--dark);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 100dvw;
    width: 100dvw;
    height: 100dvh;
    transition: background-color 0.3s, color 0.3s;
    background: radial-gradient(
          circle farthest-side at 0% 50%,
          var(--background) 23.5%,
          #00000000 0
        )
        21px 30px,
      radial-gradient(
          circle farthest-side at 0% 50%,
          var(--light) 24%,
          #00000000 0
        )
        19px 30px,
      linear-gradient(
          var(--background) 14%,
          #00000000 0,
          #00000000 85%,
          var(--background) 0
        )
        0 0,
      linear-gradient(
          150deg,
          var(--background) 24%,
          var(--light) 0,
          var(--light) 26%,
          #00000000 0,
          #00000000 74%,
          var(--light) 0,
          var(--light) 76%,
          var(--background) 0
        )
        0 0,
      linear-gradient(
          30deg,
          var(--background) 24%,
          var(--light) 0,
          var(--light) 26%,
          #00000000 0,
          #00000000 74%,
          var(--light) 0,
          var(--light) 76%,
          var(--background) 0
        )
        0 0,
      linear-gradient(90deg, var(--light) 2%, var(--background) 0, var(--background) 98%, var(--light) 0%) 0 0
        var(--background);
    background-size: 40px 60px;
}

a {
    text-decoration: none;
    color: var(--tertiary);
    cursor: default;
}

li {
    list-style: none;
}