/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --x: 50vw;
    --y: 50vh;
    --flashlight-x: 50vw;
    --flashlight-y: 50vh;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #122C54, #215897);
    text-align: center;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100dvw;

    /* Width of the scrollbar */
    &::-webkit-scrollbar {
        width: 8px;
    }

    /* Track background (lighter to match the dark gradient background) */
    &::-webkit-scrollbar-track {
        background: #0f284f;
        border-radius: 0 4px 4px 0;
    }

    /* Drag-handle (darker for contrast) */
    &::-webkit-scrollbar-thumb {
        background: #00428d;
        border-radius: 4px;
    }

    /* Handle on hover (slightly lighter for visibility) */
    &::-webkit-scrollbar-thumb:hover {
        background: #1A4475;
    }

    /* Handle when actively being dragged */
    &::-webkit-scrollbar-thumb:active {
        background: #205490;
    }
}

.lights-out {
    cursor: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle 20rem at var(--x) var(--y),
            #00000000 10%, #0005051a 40%, #05050080 60%, #000000bf 70%, #000000fa 100%);
    transition: background-image 1s ease-in-out;
}

#bulb {
    position: absolute;
    z-index: 10000;
    transform: translateY(-22rem);
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    background-image: url('../img/bulb.svg');
    background-repeat: no-repeat;
    transition: filter 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.glow {
    filter: drop-shadow(0 -5px 1rem #f1c40f) drop-shadow(0 -5px 2rem #f39c12) drop-shadow(0 -5px 3rem #e74c3c);
}

#flashlight {
    position: fixed;
    z-index: 10000;
    width: 15rem;
    height: 15rem;
    top: var(--flashlight-y);
    left: var(--flashlight-x);
    opacity: 0;
    transform: translate(-30%, 10%);
    transition: opacity 0.3s ease-in-out;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
    color: #64FFDA;
}

h2 {
    font-size: 2.5rem;
    color: #64FFDA;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

h3 {
    font-size: 2rem;
    color: #64FFDA;
}

h4 {
    font-size: 1.5rem;
    color: #e0e0e0;
}

p {
    font-size: 1rem;
    color: #e0e0e0;
    margin: 0.5rem 0;
    line-height: 1.25;
}

img {
    margin: 1rem;
}

.appear {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fly-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.from-left {
    opacity: 0;
    transform: translateX(-10rem);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.from-right {
    opacity: 0;
    transform: translateX(10rem);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.spin {
    opacity: 0;
    transform: rotate(180deg);
    transition: opacity 0.6s ease-out, transform 0.8s ease-out;
}

.show {
    opacity: 1;
    transform: translateY(0);
}

.name-container {
    z-index: -50;
    position: fixed;
    left: 0;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    animation: float 5s ease-in-out infinite;
}

.name {
    filter: blur(10px);
    transform: rotate(20deg) translateY(10rem);
    font-family: 'Dancing Script', cursive;
    font-size: 24dvw;
    color: #64FFDA;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-15px);
    }

    100% {
        transform: translatey(0px);
    }
}

/* Hero Section */
.hero {
    height: 100vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.morph {
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.hero-image {
    all: unset;
    width: 24rem;
    height: auto;
    margin: 1rem;
    border-radius: 50%;
    background-image: url('../img/hero.webp');
    background-position: center;
    background-size: cover;
    aspect-ratio: 0.95/1;
    cursor: pointer;
    transition: background-image 0.35s linear;
    filter: drop-shadow(0px 10px 20px #000000a5) brightness(1.45) saturate(1.25);
}

.hero-image:hover {
    background-image: url('../img/hero-hover.webp');
    transition: background-image 0.25s linear;
}

.title {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    text-shadow: 2px 2px 10px rgb(0, 0, 0);
}

.subtitle {
    min-height: 2rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CTA Button */
.cta-buttons {
    display: flex;
    flex-direction: row;
}

.cta-button {
    padding: 0.75rem 1.5rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #64FFDA;
    color: #122C54;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 0px 1rem #66ffdb80;
    transition: all 0.3s ease;
}

.cta-button:hover {
    background-color: #52e0c6;
    box-shadow: 0px 0px 20px rgba(100, 255, 218, 0.8);
    transform: scale(1.05);
}

/* Dropdown language container */s
.lang-text {
    width: max-content;
    right: 5rem;
    position: absolute;
    margin: 0.5rem;
    transition: opacity 0.5s ease;
}

.lang-text p {
    font-size: 1.25rem;
    color: #64FFDA;
    margin: 0;
}

.language-dropdown {
    position: fixed;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    z-index: 100;
}

#langSwitcher {
    all: unset;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    align-self: flex-end;
}

.lang-icon {
    width: 4rem;
    margin: 0.25rem;
    margin-bottom: 0;
    filter: drop-shadow(1.5px 1.5px 0 #000);
}

#langSwitcher:hover .lang-icon,
#langSwitcher:focus .lang-icon {
    filter: drop-shadow(0.5px 0.5px 0 #fff);
}

#langMenu {
    position: relative;
    align-self: flex-end;
    background-color: #64FFDA;
    list-style: none;
    padding: 0.5rem;
    margin: 0.25rem 0;
    width: 8rem;
    border-radius: 0.75rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    display: none;
}

#langMenu li {
    cursor: pointer;
    border-radius: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.lang-select {
    width: 4rem;
    margin: 0.25rem;
    margin-bottom: 0;
}

.lang-select-text {
    color: #122C54;
    font-weight: bold;
    margin-top: 0;
}

#langMenu li:hover {
    background-color: #52e0c6;
}

/* Show menu when active */
#langMenu.show {
    display: block;
}

/* See more arrow section */
#arrowContainer {
    position: sticky;
    bottom: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transition: opacity 0.5s ease;
}

.arrow {
    position: absolute;
    border: solid #64FFDA;
    border-width: 0 0.25rem 0.25rem 0;
    padding: 1rem;
    transform: rotate(45deg);
    animation: arrowSlide 3s infinite linear;
}

.delay0 {
    animation-delay: -0.75s;
}

.delay1 {
    animation-delay: -1.5s;
}

.delay2 {
    animation-delay: -2.25s;
}

.delay3 {
    animation-delay: -3s;
}

@keyframes arrowSlide {

    0%,
    100% {
        transform: rotate(45deg) translate(-3rem, -3rem);
        opacity: 0;
    }

    10% {
        opacity: 0.25;
    }

    20% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        transform: rotate(45deg) translate(0rem, 0rem);
        opacity: 0;
    }
}

/* Projects section */
.projects {
    margin: 2rem 0 30rem 0;
}

.section-title {
    margin: 1rem;
}

/* Project card grid */
.project-grid {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* Project card wrapper */
.project-card {
    width: 25rem;
    height: auto;
    border-radius: 0.75rem;
    position: relative;
    margin-bottom: 2rem;
    transition: z-index 0.5s ease-in-out;
    z-index: 1;
}

.project-card:hover {
    z-index: 20;
}

/* Card front */
.card-front {
    position: relative;
    z-index: 1;
    width: 100%;
    aspect-ratio: 3/2;
    background: #003284;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    font-size: 1.5rem;
    font-weight: bold;
    transition: border-bottom-left-radius 0.5s ease-in-out, border-bottom-right-radius 0.5s ease-in-out;
    cursor: pointer;
    overflow: hidden;
}

.project-img {
    padding: 1rem;
    position: absolute;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

.card-front h3 {
    position: relative;
    z-index: 2;
    color: white;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 1rem;
}

.project-card:hover .card-front {
    border-radius: 0.75rem 0.75rem 6px 6px;
}

/* Flip card inner */
.flip-card-inner {
    position: relative;
    text-align: center;
    width: 100%;
    padding: 0 0.25rem;
    transform-style: preserve-3d;
    transform-origin: top;
    transform: rotateX(-90deg);
    transition: transform 0.45s ease-in-out;
}

/* Flip card back */
.flip-card-back {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    backface-visibility: hidden;
    background-color: #3694D3;
    border-radius: 0 0 0.75rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4), 0 20px 40px rgba(0, 0, 0, 0.4) inset;
    transition: max-height 0.45s ease-in-out;
    z-index: 10;
}

/* Hover effects */
.project-card:hover .flip-card-inner {
    transform: rotateX(0deg);
}

.project-card:hover .flip-card-back {
    max-height: 30rem;
}

/* The Modal */
.modal {
    position: fixed;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
}

/* Modal Content (image) */
.modal-content {
    display: block;
    width: 90%;
    aspect-ratio: 16/9;
    max-height: 95dvh;
    background-color: #fff;
}

/* Caption of Modal Image */
#caption {
    position: absolute;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    text-align: center;
    color: #e0e0e0;
    margin: 1.5rem;
    font-weight: bold;
}

/* Add Animation */
.modal-content,
#caption {
    animation: zoom 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    left: 35px;
    color: #e0e0e0;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #e0e0e0;
    text-decoration: none;
    cursor: pointer;
}

.project-descriptions {
    overflow-y: auto;
    margin-right: 0.75rem;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: #1b4f72;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background: #74b9ff;
        border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #dff9fb;
    }

    &::-webkit-scrollbar-thumb:active {
        background: #82ccdd;
    }
}

.project-description {
    margin: 1rem .75rem 1rem 1.5rem;
    overflow-y: auto;
    text-align: left;
    font-size: 1.125rem;
}

.project-link {
    width: fit-content;
    margin: 1rem 1.5rem 1rem 1.5rem;
    padding: 0;
    align-self: flex-end;
}

.project-btn {
    margin: 0;
    padding: 0.5rem 1rem;
    box-shadow: none;
    text-decoration: underline;
}

/* Dart section */
.dartboard {
    margin: 0 0 15rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dart-title {
    margin: 0 0 3rem;
}

#dartContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

canvas {
    background: url('/img/dartboard.svg') no-repeat center;
    background-size: contain;
    display: block;
    border-radius: 50%;
    box-shadow: 0px 0px 1px 1px #fff, -15px 8px 0px #171717, -15px 4px 10px #171717;
}

#scoreboard {
    display: flex;
    flex-direction: column;
    height: 90dvh;
}

#scoreboard h2 {
    justify-self: flex-start;
}

#scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #215897;
    color: #e0e0e0;
    padding: 1rem 2rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#scores li {
    font-size: 1.5rem;
    text-align: right;
    list-style: none;
    padding: 0.5rem;
    width: 100%;
}

.sum {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
    padding: 0.5rem;
    margin-top: auto;
}

#scoreboard .cta-buttons {
    justify-content: center;
}

/* Skills section */
.kompetencer {
    margin: 2rem 0 15rem 0;
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.09);
    padding: 2rem 0 0;
}

.komp-logo {
    width: min-content;
    margin: 1rem;
    filter: drop-shadow(1.5px 1.5px 0 #000);
}

.komp-logo img {
    width: 10rem;
}

.komp-logo h4 {
    justify-self: center;
    width: max-content;
}

.komp-logo p {
    text-align: left;
    word-break: break-word;
    hyphens: auto;
}

.contacts {
    margin: 2rem 0 2rem 0;
}

.contact-logo {
    width: min-content;
    margin: 1rem;
    filter: drop-shadow(1.5px 1.5px 0 #000);
}

.contact-logo img {
    width: 5rem;
    color: #e0e0e0;
    fill: #e0e0e0;
}

.contact-logo h4 {
    justify-self: center;
    width: max-content;
}

.contact-logo a {
    /* text-decoration: none; */
    color: #e0e0e0;

}

/* contact-form */
.contact-container {
    background: linear-gradient(to bottom, #122C54, #215897);
    padding: 3rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

label {
    font-size: 1.5rem;
    color: #e0e0e0;
    text-align: left;
}

input,
textarea {
    padding: 1rem;
    border: 1px solid #64FFDA;
    border-radius: 0.5rem;
    background-color: #122C54;
    color: #e0e0e0;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus,
textarea:focus {
    border-color: #52e0c6;
    outline: none;
    box-shadow: 0px 0px 5px rgba(82, 224, 198, 0.8);
}

textarea {
    resize: vertical;
}